<%= form_for(@costumer) do |f| %>
  <% if @costumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costumer.errors.count, "error") %> prohibited this costumer from being saved:</h2>

      <ul>
      <% @costumer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
