<h2><%= link_to "Holiday Reminder", root_path %></h2>

<p>Usuario Actual: <strong><%= current_user.first_name %></strong></p>
<h2>Lista de Clientes</h2>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @costumers.each do |costumer| %>
  <tr>
    <td><%= costumer.name %></td>
    <td><%= costumer.email %></td>
    <td><%= link_to 'Ver', costumer %></td>
    <td><%= link_to 'Modificar', edit_costumer_path(costumer) %></td>
    <td><%= link_to 'Eliminar', costumer, method: :delete, data: { confirm: '¿Ud. está seguro que desea Eliminar el Cliente?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Cliente', new_costumer_path %>&nbsp;|&nbsp;
<%= link_to "Feriados", holidays_path, :method => :get %>&nbsp;|&nbsp;
<%= link_to "Salir", destroy_user_session_path, :method => :delete %>
