<p>Usuario Actual: <strong><%= current_user.first_name %></strong></p>
<h1>Ver Cliente</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @costumer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @costumer.email %>
</p>


<%= link_to 'Modificar', edit_costumer_path(@costumer) %> |
<%= link_to 'Back', costumers_path %>
