<% if user_signed_in? %>

<h3>Holiday Reminder</h3>
Hi <%= current_user.first_name %>,<br /><br />
<%= link_to "Costumers", costumers_path, :method => :get %>&nbsp;|&nbsp;
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<% else %>

<h1>Welcome to Holiday Reminder</h1>
<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign up", new_user_registration_path, :method => :get %>

<% end %>